/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;

}

:root {
    --container-width: 1140px;
    --container-padding: 15px;
    --colorMain: #71BAE5;
    --colorYellowAccent1: #E6BC50;
    --colorYellowAccent2: #F0D99C;
    --colorWhite: #fff;
    --colorBeige: #F2F3F4;
    --colorBlack: #444;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--colorBlack);
    height: 100%;
    background-image: url(/img/background/layered-peaks-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1;
}

.none {
    display: none !important;
}

body.lock {
    overflow: hidden;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
.main {
    flex: 1 1 auto;
    background-color: var(--colorBeige);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - var(--container-width))/2 + var(--container-padding));
    margin: 0 15px 0 15px;
}

._anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
    transform: translate(0px, 0px);
    opacity: 1;

}

/* ---------------------------------------------------------------------------- */

/* ------Header------------------------------------------------------------- */
.header {
    position: relative;
    min-height: 1000px;
    overflow: hidden;
    margin-bottom: 50px;
}

.header-page {
    position: relative;
    min-height: 100px;
    background-color: var(--colorWhite);
    overflow: hidden;
}

.header::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    background-image: url(./../img/header/Vector1.svg);
    background-size: 100%;
    top: 0;
    opacity: 0.6;
}

.header__top {
    position: relative;
    z-index: 100;
}

/* ----------Menu------------------------------------------------------------------ */
/**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
 */


.menu {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 250px;
    min-width: 250px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -250px;
    /* внутренние отступы */
    padding: 120px 10px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: var(--colorBeige);
    /* поверх других элементов */
    z-index: 2000;
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

/**
 * Кнопка переключения панели
 * тег <label>
 */
.menu-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 250px;
    /* отступ от верхнего края панели */
    top: 17px;
    /* внутренние отступы */
    padding: 10px;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    /* цвет текста */
    color: var(--colorBlack);
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 40px;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.menu-toggle:after {
    content: '\2630';
    text-decoration: none;
}

/* цвет текста при наведении */

.menu-toggle:hover {
    color: var(--colorBlack);
}

/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id='menu-toggle'] {
    position: absolute;
    display: none;
}

/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='menu-toggle']:checked~.menu>.menu-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}

/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='menu-toggle']:checked~.menu {
    left: 0;
    background-color: var(--colorBeige);
    overflow-y: auto;

}

/* 
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/

[id='menu-toggle']:checked~main>article {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    transform: translateX(250px);
}

/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/

[id='menu-toggle']:checked~.menu>.menu-toggle:after {
    content: '\2715';
}

/**
 * профиксим баг в Android <= 4.1.2
 * см: http://timpietrusky.com/advanced-checkbox-hack
 */

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    to {
        padding: 0;
    }
}

/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */

@media (max-width: 767px) {
    .menu {
        width: 100%;
        min-width: 100%;
        left: -100%;
        -webkit-transition: left 0.6s;
        -moz-transition: left 0.6s;
        transition: left 0.6s;
        padding: 70px 10px;
    }

    .menu-toggle {
        left: 100%;
    }

    [id='menu-toggle']:checked~.menu>.menu-toggle {
        left: auto;
        right: 2px;
        top: 0em;
    }

}

@media screen and (min-width: 320px) {

    html,
    body {
        margin: 0;

    }
}

@media screen and (max-width: 320px) {

    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }

    .nav {
        width: 100%;
        box-shadow: none
    }
}

/**
 * Формируем стиль заголовка (логотип) панели 
*/

.logo {
    width: 100%;
    text-align: center;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.logo__img {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 200px;
}

/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='menu-toggle']:checked~.menu .logo {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.menu__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu .menu__item {
    line-height: 150%;
    opacity: 0;
    padding: 10px 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='menu-toggle']:checked~.menu .menu__item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/**
 * анимация номера телефона
 */
.menu__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 20px 0;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

/*плавное появление */

[id='menu-toggle']:checked~.menu .menu__contacts {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* определяем интервалы появления пунктов меню */

.menu .menu__item:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.menu .menu__item:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.menu .menu__item:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.menu .menu__contacts {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}


/**
 * оформление ссылок пунктов меню
 */

.menu .menu__link {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 18px;
    color: var(--colorBlack);
    width: 100%;
    text-align: center;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;

}

/**
 * состояние ссылок меню при наведении
 */

.menu .menu__link:hover,
.menu .menu__link:focus {
    color: #000;
    font-weight: 600;
    transition: all 0.5s ease 0s;
}

/**
 * линия подчеркивания ссылок меню
 */


/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
.menu .menu__link:after {
    content: '';
    display: block;
    margin: 10px auto;
    height: 1px;
    width: 80%;
    background: #ffffff00;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.menu .menu__link:hover:after {
    background: var(--colorYellowAccent1);
    transition: all 0.5s ease 0s;
}

/**
 * анимация кнопок
 */
.button--left {
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;


}

/*плавное появление */

[id='menu-toggle']:checked~.menu .button--left {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

.menu__img img {
    width: 20px;
    height: 20px;
}

.menu__contact {
    color: var(--colorBlack);
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 160%;
}

.menu__phone {
    color: var(--colorBlack);
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 160%;
}

.menu__city {}

/* фон затемнения на основной контент 
 * при этом элементы блокируютя
 * спорная такая фича, если оно вам надо
 * просто раскомментируйте
*/

/*
.mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
}
 
[id='nav-toggle']:checked ~ .mask-content {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
}
*/

/* -------------------Header-row--------------------------------------------------------- */
.header__row {}

.header__content {
    position: relative;
    z-index: 5;
    margin-top: 20px;
}

.contacts {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff00;
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0);
    opacity: 1;
    transition: box-shadow 0.5s ease, background-color 0.3s ease, opacity 0.3s ease;
    padding-left: 100px;
}

.active {
    background-color: var(--colorBeige);
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.contacts__block {}

.contacts__img img {
    width: 20px;
    height: 20px;
}

.contacts__contact {
    color: var(--colorBlack);
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 160%;
}

.contact__phone {
    color: var(--colorBlack);
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 160%;
}

.contact__city {}

.header__title {
    font-size: 64px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 100px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.header__subtitle {
    font-size: 32px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.header__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header__button._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.button {
    display: inline-block;
    width: 190px;
    padding: 26px 0;
    text-align: center;
    background-color: var(--colorYellowAccent1);
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
    color: var(--colorBlack);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.button--page {}

.button-top {
    display: inline-block;
    width: 140px;
    padding: 22px 0;
    text-align: center;
    margin-left: 10px;
    background-color: var(--colorYellowAccent1);
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
    color: var(--colorBlack);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    transition: 0.6s ease;
    animation-name: example;
    animation-duration: 0.5s;
}

@keyframes example {
    0% {
        opacity: 0;
        margin-top: 50px;
    }

    100% {
        opacity: 1;
    }

}

.button:hover,
.button:focus {
    background-color: var(--colorYellowAccent2);
    transition: all 0.5s ease 0s;
    color: #000;
}

.button:active {
    position: relative;
    top: 1px;
}

.header__img {
    position: relative;
}

.header__img img {
    position: absolute;
    top: -420px;
    right: -170px;
    width: 1169px;
    height: 1140px;
}

/* ---------------------------------------------------------------------------- */
@media (min-width: 1380px) {
    .header__title {
        margin-top: 85px;
    }
}

@media (max-width: 1380px) {
    .header::after {
        display: none;
    }
}

@media (max-width: 1110px) {
    .header__img img {
        top: -390px;
        right: -244px;
    }
}

@media (max-width: 980px) {
    .header__img img {
        right: -340px;
    }
}

@media (min-width: 767px) {
    .button--left {
        display: none;
    }
}

@media (max-width: 767px) {
    .logo__img {
        width: 300px;
    }

    .header {
        min-height: 620px;
    }

    .header__img img {
        width: 100%;
        height: auto;
        top: -306px;
        right: -149px;
    }

    .header__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .header__subtitle {
        font-size: 22px;
        width: 538px;
        margin-bottom: 30px;
    }

    .header__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 30px;
    }

    .button {
        width: 140px;
        padding: 22px 0;
        font-size: 14px;
        font-weight: 700;
    }

    .menu__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }

    .button--left {
        width: 50%;
    }
}

@media (max-width: 690px) {
    .header {
        min-height: 500px;
    }
}

@media (max-width: 615px) {
    .header {
        min-height: 550px;
    }

    .header__img img {
        width: 500px;
        height: auto;
        top: -186px;
        right: -170px;
    }

    .header__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
    }
}

@media (max-width: 570px) {
    .button-top {
        display: none;
    }

    .menu-toggle {
        top: 0;
    }

    .contacts {
        height: 60px;
    }

    .contact__phone {
        font-size: 14px;
    }

    .contact__city {
        font-size: 14px;
    }

    .button--left {
        width: 100%;
        box-shadow: none;
    }
}

@media (max-width: 480px) {
    .header {
        min-height: 602px;
    }

    .header__img img {
        top: -191px;
    }

    .header__title {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .header__subtitle {
        font-size: 18px;
        width: 220px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    .header__br {
        display: none;
    }

    .header__button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    .button--mobile {
        width: 90%;
    }

}

@media (max-width: 320px) {}

/* -----------------About----------------------------------------------------------- */
.about {}

.container-right {}

.container-right_rectangle {
    position: relative;
}

.container-right_rectangle::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1100px;
    right: 400px;
    top: -86px;
    transform: translate(100%, 0px);
    background-color: var(--colorMain);
    z-index: 1;
}

.about__block {
    margin-top: 90px;
}

.about__title {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    position: relative;
    margin-bottom: 90px;
    margin-top: 90px;
    z-index: 50;
}

.title_line1 {
    margin-bottom: 30px;
}

.title_line1::after {
    content: "";
    width: 100vw;
    height: 7px;
    background-color: var(--colorYellowAccent2);
    position: absolute;
    top: 60px;
    right: 228px;
}

.title_line2::after {
    content: "";
    width: 100vw;
    height: 7px;
    background-color: var(--colorYellowAccent2);
    position: absolute;
    top: 60px;
    left: 2px;
    z-index: 5;
}

.title {
    color: var(--colorBlack);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
    z-index: 50;
}

.about__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
}

.about__text {
    flex: 1 1 60%;
    color: var(--unnamed, #444);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 160%;
    z-index: 10;
}

.about__text-animation {}

.about__paragraph {
    margin-bottom: 20px;
    max-width: 730px;
}

._anim-show {}

.about__img {
    flex: 1 1 40%;
    z-index: 3;
}

.about-img {}


.title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.about__text-animation {}

.about__paragraph {
    padding: 10px 0;
}

/* --------------------------------------------------------------------------- */
@media (max-width: 1100px) {

    .about-img {
        width: 400px;
    }

    .about__text {
        height: 805px;
        font-size: 20px;
    }

    .container-right_rectangle::before {
        height: 882px;
        right: 327px;
    }

}

@media (max-width: 940px) {
    .about-img {
        width: 300px;
    }

    .container-right_rectangle:before {
        height: 800px;
        right: 271px;
        top: -30px;
    }

    .title {
        font-size: 28px;
    }

    .title {
        font-size: 28px;
    }

    .title_line1:after,
    .title_line2:after {
        top: 40px;
    }

    .about__title {
        margin: 30px auto;
    }

    .about__block {
        margin-top: 35px;
    }

    .title_line1:after {
        right: 340px;
    }

    .about__paragraph {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .about__text {
        font-size: 18px;
    }

}

@media (max-width: 700px) {
    .about__description {
        flex-direction: column;
    }

    .about-img {
        flex: 0 1 100%;
        width: 45%;
        transform: rotate(270deg) translate(100px, 150px);
    }

    .about__text {
        flex: 0 1 100%;
        padding: 0 10px;
    }

    .container-right_rectangle::before {
        display: none;
    }

    .about__title {
        margin: 30px 15px;
    }

    .title_line1 {
        margin-bottom: 30px;
    }

    .title_line1::after {
        width: 100vw;
        right: 0px;
        left: -15px;
    }

    .title_line1:after,
    .title_line2:after {
        top: 50px;
    }

    .title_line2::after {
        width: 100vw;
        right: 0px;
        left: -15px;
    }

}


@media (max-width: 480px) {
    .title {
        font-size: 25px;
    }

    .about__title {
        width: 100%;
    }

    .title_line1 {
        margin-bottom: 10px;
    }

    .title_line1:after,
    .title_line2:after {
        top: 40px;
    }

    .about__paragraph {
        margin-bottom: 10px;
    }

    .about-img {
        width: 45%;
        transform: rotate(270deg) translate(38px, 86px);
    }

}

@media (max-width: 400px) {

    .title_line1::after {
        display: none;
    }
}

/* -----------------Services----------------------------------------------------------- */
.services {
    position: relative;
}

.container {}

.services__background-title {
    background-color: var(--colorYellowAccent2);
    position: absolute;
    top: -183px;
    width: 100vw;
    height: 200px;
    z-index: 2;
}

.container {}

.services__title {
    width: 450px;
    min-width: 450px;
    padding: 40px 0 40px 0;
}

.service__title {
    position: relative;
}



.service-title {
    color: var(--colorBlack);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 30px;
    padding: 50px 10px 0 70px;
}

.service__title::after {
    content: "";
    width: 50px;
    height: 7px;
    background-color: var(--colorMain);
    z-index: 3;
    position: absolute;
    top: 73px;
    z-index: 0px;
}

.services__content {
    padding-top: 50px;
}

.service__text {
    color: var(--colorBlack);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
}

.service__text:not(:last-child) {
    margin-bottom: 30px;
}

.service__price {
    margin-bottom: 40px;
}



.service__name {
    color: var(--colorBlack);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 160%;
    position: relative;
}

.service__name::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--colorMain);
    position: absolute;
    top: 44px;
    left: 0px;
}

.service-name {
    display: flex;
    justify-content: space-between
}

.service-name__title {
    position: relative;
    padding-left: 40px;
}

.service-name__title::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--colorYellowAccent2);
    position: absolute;
    top: 2px;
    left: 0;
}

.service-name__price {}

/* --------------------------------------------------------------------------- */
@media (max-width: 1100px) {
    .service__text {
        font-size: 20px;
    }
}

@media (max-width: 940px) {
    .services__background-title {
        height: 150px;
    }

    .services__title {
        padding: 33px 0;
    }

    .services__content {
        padding-top: 0px;
        margin-top: 90px;
    }

    .service-title {
        color: var(--colorBlack);
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 30px;
        padding: 10px 10px 0 70px;
    }

    .service__title:after {
        top: 27px;
    }
}

@media (max-width: 570px) {
    .service__name {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .service-name {
        flex-direction: column;
    }

    .service-name__price {
        padding-left: 40px;
    }

    .service__name:before {
        top: 70px;
    }

    .service-name__title:after {
        width: 20px;
        height: 20px;
        top: 18px;
    }

    .services__content {
        margin-top: 115px;
    }

    .services__background-title {
        height: 120px;
        top: -160px;
    }

    .services__title {
        padding: 25px 0;
    }

    .service-title {
        font-size: 22px;
        padding: 0px 10px 0 70px;
    }

    .service__title:after {
        top: 15px;
        height: 5px;
    }

    @media (max-width: 380px) {
        .title {
            font-size: 22px;
        }
    }
}



/* ------------Application----------------------------------------------------------- */
.application {
    margin-top: 150px;
}

/* ----------------------------------------------------------------------- */
@media (max-width: 940px) {
    .application {
        margin-top: 90px;
    }
}

/* -----------------Package-services----------------------------------------------------------- */
.package-services {
    margin-top: 50px;
}

.container {}

.package-services__title {
    max-width: 526px;
    margin-left: auto;
}

.package-services__title::after {
    content: "";
    height: 5px;
    background-color: var(--colorYellowAccent2);
    width: 100%;
    display: block;
    position: relative;
}

.right-underline::after {
    content: "";
    margin-top: -5px;
    height: 5px;
    width: 40%;
    background-color: var(--colorYellowAccent2);
    right: 0;
    display: block;
    position: absolute;
}

._anim-items {}

._anim-no-hide {}

.package-services__block {
    margin-top: 90px;
}

.package-services__content {
    display: flex;
    align-items: stretch;
    margin-top: 30px;
}

.package-services__square {
    width: 50px;
    max-width: 50px;
    padding: 14px 9px;
    background-color: var(--colorYellowAccent2);
}

.package-services__img {}

.package-services__rectangle {
    width: 100%;
    padding: 10px 5px 10px 15px;
    color: var(--colorBlack);
    font-family: 'Roboto', sans-serif;
    background-color: #C6E3F5;
    font-size: 25px;
    font-weight: 400;
    line-height: 160%;
    transition: 0.3s;
}

.package-services__rectangle:hover {
    background-color: var(--colorMain);
}

.package-services__text {}

/* ----------------------------------------------------------------------- */
@media (max-width: 940px) {
    .package-services {
        margin-top: 0px;
    }

    .package-services__block {
        margin-top: 60px;
    }

    .package-services__rectangle {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .left-underline::after {
        width: 100%;
    }

    .package-services {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .package-services__rectangle {
        font-size: 20px;
    }
}

/* ----------------------------------------------------------------------- */
.container {}

.form {}

#form-animation {}

#form-animation._active {}

.form__block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 522px;
    height: 585px;
    padding: 0 62px;
    background-color: #F1EDE4;
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.form__content {}

.form__title {
    font-size: 32px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    padding-bottom: 12px;
}

.form__subtitle {
    width: 304px;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0 60px 0;
}

.form__group {
    position: relative;
    margin-bottom: 40px;
}

.form__label {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    padding: 20px 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 160%;
    transition: 0.3s;
    color: #9e9e9e;
}

.form__input {
    width: 398px;
    height: 60px;
    padding: 10px;
    background-color: var(--colorBeige);
    border: 1px solid var(--colorBeige);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 160%;
    transition: 0.3s;
    color: var(--colorBlack);
    transition: 0.6s;
}

.form__input::placeholder {
    color: #9e9e9e;
}

.form__input:focus {
    border: 1px solid var(--colorBlack);
}

.form__button {
    align-self: center;
    margin: 20px 0 0 0;
}

/* ----------------------------------------------------------------------- */
@media (max-width: 767px) {
    .form__title {
        font-size: 26px;
    }
}

@media (max-width: 550px) {
    .form__block {
        width: 100%;
        padding: 0 20px;
    }

    .form__group {
        width: 100%;
    }

    .form__input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .form__button {
        width: 100%;
    }

    .button--form {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .form__input {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .form__title {
        width: 100%;
    }

    .form__subtitle {
        width: 100%;
    }
}

/* ------------Footer----------------------------------------------------------- */
.footer {
    height: 100%;
    min-height: 300px;
    width: 100%;
    background-color: var(--colorWhite);
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.footer__block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-weight: 400;
    color: var(--colorBlack);
}

.footer__navigation {}

.footer__contacts {}

.footer__label {
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px 0;
}

.footer__email {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 5px;
}

.footer__email img {
    width: 25px;
    height: 25px;
}

.footer__footer-email {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-weight: 600;
    color: var(--colorBlack);
}

.footer__phone-city {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 5px;
}

.footer__phone-city img {
    width: 25px;
    height: 25px;
    align-self: center;
}

.footer__phone {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-weight: 600;
    color: var(--colorBlack);
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
}

.menu-footer__item {}

.menu-footer__link {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-weight: 400;
    color: var(--colorBlack);
}

.footer__img {
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.footer__img img {
    transition: 0.5s;
}

.footer__img img:hover {
    opacity: 0.8;
}

.footer__img img {
    width: 40px;
    height: 40px;
}

.author {
    text-align: center;
    padding-top: 20px;
}

.author__link {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-weight: 400;
    color: var(--colorBlack);
}

/* ----------------------------------------------------------------------- */
@media (max-width: 767px) {}

@media (max-width: 360px) {
    .footer__phone-city {
        flex-direction: column;
    }

    .footer__email {
        flex-direction: column;
    }
}

/* ---------------Portfolio-------------------------------------------------------- */
.portfolio {
    background-color: var(--colorBeige);
}

.portfolio__background {
    background-color: var(--colorWhite);
    padding: 30px 0;
}

.container {}

.portfolio__title-page {
    text-align: center;
    padding: 50px 5px;
}

.title-page {
    color: var(--colorBlack);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
}

.portfolio__content {
    padding: 10px;
}

.portfolio__block {}

.portfolio__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: var(--colorBlack);
    text-decoration: underline !important;
    padding: 10px 5px 5px 5px;
    transition: 0.3s;
}

.portfolio__title:hover {
    text-decoration: underline;
    color: var(--colorYellowAccent1);
}

.portfolio__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    line-height: 160%;
    padding: 5px;
}

.portfolio__img {
    margin: 5px 20px 60px 5px;
    height: 500px;
    overflow: hidden;
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.portfolio__img:hover {
    opacity: 1;
}

.portfolio__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ---------------Layout-------------------------------------------------------- */
.layout {
    background-color: var(--colorBeige);
}

.container {}

.layout__title-page {
    text-align: center;
    padding: 50px 5px;
}

.title-page {}

.layout__content {
    padding: 10px;
}

.layout__block {}

.layout__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: var(--colorBlack);
    padding: 10px 5px 5px 5px;
    text-decoration: underline !important;
    transition: 0.3s;
}

.layout__title:hover {
    text-decoration: underline;
    color: var(--colorYellowAccent1);
}

.layout__img {
    margin: 10px 20px 60px 5px;
    height: 500px;
    overflow: hidden;
    box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
    position: relative;
    transition: 0.3s;
}

.layout__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.layout__img:hover {
    opacity: 1;
}

.layout__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.layout__img:hover .layout__overlay {
    opacity: 1;
}

.layout__icon {
    color: #0000007c;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-magnifying-glass {
    transition: .5s ease;
}

.fa-magnifying-glass:hover {
    color: var(--colorBlack);
    font-size: 60px;
}

/* ----------------------------------------------------------------------- */
@media (max-width: 767px) {
    .portfolio__img {
        height: 400px;
    	padding-bottom: 100px;
    }

    .layout__img {
        height: 400px;
    }

    .portfolio__title-page {
        text-align: center;
        padding: 40px 5px;
    }

    .layout__title-page {
        text-align: center;
        padding: 40px 5px;
    }

    .title-page {
        font-size: 26px;
    }
}

@media (max-width: 650px) {
    .portfolio__img {
        height: 300px;
    }

    .layout__img {
        height: 300px;
    }
}

@media (max-width: 570px) {
    .header-page {
        min-height: 60px;
    }
}

@media (max-width: 480px) {
    .portfolio__img {
        height: 200px;
    }

    .layout__img {
        height: 200px;
    }
}

/* ---------------------------------------------------------------------- */
.connection {
    background-color: var(--colorBeige);
    padding-bottom: 100px;
}

.connection__title-page {
    text-align: center;
    padding: 50px 5px;
}

.title-page {}

.connection__background {
    background-color: var(--colorWhite);
    padding: 30px 0;
}

.container {}

.connection__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.connection__block {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

.connection__phone {
    background-color: var(--colorBeige);
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 40px;
}

.connection__img {}

.connection__img img:hover {
    opacity: 0.8;
}

.connection__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 10px 0 5px 0;
}

.connection__number {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    color: var(--colorBlack);
}

.connection__city {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    color: var(--colorBlack);
    padding-bottom: 10px;
}

.connection__mail {
    background-color: var(--colorBeige);
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 40px;
}

.connection__connection-email {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    color: var(--colorBlack);
    padding-bottom: 10px;
}

/* ----------------------------------------------------------------------- */
@media (max-width: 1080px) {
    .connection__content {
        row-gap: 30px;
    }

    .connection__block {
        flex: 0 1 100%;
    }
}

@media (max-width: 440px) {
    .connection__block {
        row-gap: 10px;
    }
}

/* ---------------Calculator-------------------------------------------------------- */
.calculator {}

.calculator__background {
    background-color: var(--colorBeige);
    padding: 30px 0;
}

.container {}

.calculator__top {
    background-image: url(/img/calculator/Rectangle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 520px;
    margin: 100px 0 50px 0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
}

.calculator__title-page {
    width: 550px;
    padding: 90px 5px 5px 90px;
}

.calculator__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    padding: 20px 5px 5px 90px;
}

/* ----------------------------------------------------------------------- */
@media (max-width: 767px) {
    .calculator__title-page {
        width: 297px;
        padding: 25px 5px 5px 10px;
    }

    .calculator__subtitle {
        font-size: 16px;
        padding: 15px 5px 5px 10px;
    }

    .calculator__top {
        min-height: 345px;
        margin: 50px 0 50px 0;
    }
}

@media (max-width: 540px) {
    .calculator__top {
        min-height: 345px;
    }

    .calculator__title-page {
        width: 77px;
    }

    .calculator__subtitle {
        width: 265px;
        padding: 5px 5px 5px 10px;
    }
}

/* ------------------Calculator-form----------------------------------------------------- */
.calculator__bottom {}

.calculator__form {}

.calculator-question {
    background-color: var(--colorWhite);
    width: 100%;
    margin: 0 auto 50px auto;
    padding: 20px 50px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
}

.calculator__title {
    position: relative;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 22px;
}

.calculator__title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30%;
    height: 3px;
    margin-left: -15%;
    background: var(--colorYellowAccent2);

}

.question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 15px;
    padding-top: 5px;
}

.question {
    border: none;
    padding-bottom: 0;
}

.question__list {
    list-style: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
}

.answers-list {}

.question__item {
    padding: 5px;
}

.question__label {
    cursor: pointer;
}

.question__input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: var(--colorBeige);
    border: 1px solid var(--colorBlack);
    border-radius: 50%;
    vertical-align: sub;
    margin-right: 5px;
}

.custom-radio::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--colorYellowAccent1);
    border-radius: 50%;
    transition: 0.2s ease-in;
}

.question__input:checked+.custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

.question__input:focus+.custom-radio::before {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: var(--colorBeige);
    border: 1px solid var(--colorBlack);
    vertical-align: sub;
    margin-right: 5px;
}

.custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/calculator/check-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-left: 1px;
    margin-bottom: 1px;
    transition: 0.2s ease-in;
}

.question__input:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.question__input:focus+.custom-checkbox::before {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px 4px rgba(0, 0, 0, 0.06);
}

.calculator__price {}

.calculator__order {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calculator__title-price {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 10px;
}

.calculator__button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: 20px;
    width: 250px;
    padding: 16px;
    font-size: 22px;
    background: var(--colorWhite);
    border: 1px solid #000000;
}

button.calculator__button {
    background-color: var(--colorYellowAccent1);
    border: none;
}

button.calculator__button:hover,
button.calculator__button:focus {
    background-color: var(--colorYellowAccent2);
    transition: all 0.5s ease 0s;
    color: #000;
}

.application--white {
    background-color: var(--colorBeige);
}

/* ----------------------------------------------------------------------- */
@media (max-width: 480px) {
    .calculator__title {
        font-size: 20px;
        font-weight: 600;
    }

    .calculator__title-price {
        font-size: 20px;
        font-weight: 600;
    }

    .question__list {
        font-size: 16px;
        font-weight: 300;
    }
}

@@include('../modules/forminline.css') @@include('../modules/stagelist.css')
